@import "tailwindcss";

:root {
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #F8F9FA   ;
  cursor: url('/curser.png') 10 10, auto;
}

* {
  box-sizing: border-box;
}

button,
a {
  outline: none;
}

button:focus,
button:focus-visible,
a:focus,
a:focus-visible {
  outline: none;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee-track {
  animation: marquee 26s linear infinite;
}